.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.lignePlanning {
    height: 33px;
}

.lignePlanning:nth-child(odd) {
    background-color: gainsboro;
}

.lignePlanningWE {
    background-color: #777777;
    height: 33px;
}

.duplicate {
    background-color: red;
    color: white;
}

.entreprise {
    background-color: darkblue !important;
    color: white;
}

.vacance {
    background-color: purple !important;
    color: white;
}

.hidden {
    display: none;
}

.logo {
    height: 30px;
    margin-right: 20px;
}

#print .input-group,
#print .form-check {
    width: 20% !important;
}

.printpdf th,
.printpdf td {
    /* padding: 5px; */
    font-size: 0.8em;
}

.printpdf tbody th {
    text-align: left;
}

.printpdf tr:nth-child(even) {
    background-color: gainsboro;
}

.printpdf tbody td {
    text-align: center;
}

html,
body {
    height: 100%;
}

main {
    height: calc(100% - 48px);
}


.printpdf.onepage thead th {
    position: relative;
    height: 50px;
    width: 15px;
}

.printpdf.onepage thead th:last-child,
.printpdf.onepage thead td:last-child {
    padding-right: 50px;
    margin-right: 50px;
}

.printpdf.onepage thead th div {
    position: absolute;
    left: -20px;
    margin: 0;
    transform: rotate(-75deg);
    width: 120px;
}
